**Sathvika.T(2203A51523)**

In [1]:
import numpy as np
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [2]:
type(list1)

list

In [3]:
lst1=[0.1,0.5,0.6]
lst1

[0.1, 0.5, 0.6]

In [4]:
lst2=['s','a','t']
lst2

['s', 'a', 't']

In [5]:
array=[[1,2,3],
       [2,3,4],
       [3,4,5]]
array

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [6]:
type(array)

list

In [7]:
lst3=['sath','siri','aaa']
lst3

['sath', 'siri', 'aaa']

In [8]:
mylist=["apple","banana","kiwi","cherry","orange","melon","mango"]
mylist.insert(2,"watermelon")
mylist

['apple', 'banana', 'watermelon', 'kiwi', 'cherry', 'orange', 'melon', 'mango']

In [9]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

list1

['a', 'b', 'c', 1, 2, 3]

In [11]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[2:5]

['cherry', 'orange', 'kiwi']

In [12]:
l1 = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
l1.extend(tropical)
l1

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [13]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
mylist

['apple', 'banana', 'cherry']

In [14]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
thislist

[50, 65, 23, 82, 100]

In [15]:
lt = ["orange", "mango", "kiwi", "pineapple", "banana"]
lt.sort(reverse = True)
lt

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [16]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
thislist

[23, 50, 65, 82, 100]

In [17]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
thislist

['banana', 'cherry', 'Kiwi', 'Orange']

In [19]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [20]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
thislist

['apple', 'cherry']

In [21]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
thislist

['banana', 'cherry']

In [22]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
thislist

[]

In [28]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  thislist[i]
  i=i+1
thislist

['apple', 'banana', 'cherry']

In [24]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

list1

['a', 'b', 'c', 1, 2, 3]

In [10]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1+list2
list3

['a', 'b', 'c', 1, 2, 3]

In [18]:
lst1=[1,2,3]
lst2=[4,5,6]
array1 = np.array(lst1)
array2 = np.array(lst2)
print("array2 multiplied by array1: ",array1*array2)
print("array2 divided by array1: ",array2/array1)
print("array2 raised to the power of array1: ",array2**array1)
type(array1)

array2 multiplied by array1:  [ 4 10 18]
array2 divided by array1:  [4.  2.5 2. ]
array2 raised to the power of array1:  [  4  25 216]

numpy.ndarray

In [25]:
lst1=[1,2,3]
lst2=[4,5,6]
array1 = np.array(lst1)
array2 = np.array(lst2)
print("array2 multiplied by array1: ",array1*array2)
print("array2 divided by array1: ",array2/array1)
print("array2 raised to the power of array1: ",array2**array1)
type(array1)

array2 multiplied by array1:  [ 4 10 18]
array2 divided by array1:  [4.  2.5 2. ]
array2 raised to the power of array1:  [  4  25 216]

numpy.ndarray

In [26]:
print("Sine: ",np.sin(array1))
print("Natural logarithm: ",np.log(array1))
print("Base-10 logarithm: ",np.log10(array1))
print("Base-2 logarithm: ",np.log2(array1))
print("Exponential: ",np.exp(array1))

Sine:  [0.84147098 0.90929743 0.14112001]
Natural logarithm:  [0.         0.69314718 1.09861229]
Base-10 logarithm:  [0.         0.30103    0.47712125]
Base-2 logarithm:  [0.        1.        1.5849625]
Exponential:  [ 2.71828183  7.3890561  20.08553692]